# Copy this file to .env and replace the example values.
OpenId__ClientId='YOUR_CLIENT_ID'
OpenId__ClientSecret='YOUR_CLIENT_SECRET'
FULCIO_KEY_PASSWORD='YOUR_CA_KEY_PASSWORD'
MARIADB_USER='db_user'
MARIADB_PASSWORD='YOUR_DATABASE_PASSWORD'
